image{
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  .card {
    position: relative;
    cursor: pointer;
  }

  .card .card-image {
    position: relative;
    overflow: hidden;
  }

  .card .card-image img {

    transition: opacity 0.3s;
  }

  .card .card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* display: none; */
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.3s;
  }

  .card .card-body p,
  .card .card-body h5,
  .card .card-body a {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .card:hover .card-image img {
    opacity: 0.5;
  }

  .card:hover .card-body {
    opacity: 0.9;
    /* display: block; */
  }

  .card:hover .card-body p,
  .card:hover .card-body h5,
  .card:hover .card-body a {
    opacity: 1;
  }


h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #2134e2;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
