<!--
  <h1>Witaj w Aplikacji do Zarządzania Książkami!</h1>
  <p>W aplikacji można przeglądać dostępne książki, autorów, półki z książkami i wiele innych, przekonaj sie sam!</p> -->

  <div class="container">
    <h1>Witaj w Aplikacji do Dodawania Książek!</h1>
    <p>To jest strona główna naszej aplikacji, gdzie możesz zarządzać książkami, autorami i półkami.</p>

    <div class="section">
      <h2 class="section-title">Dodawanie Książek</h2>
      <p class="section-content">Dodaj nowe książki do naszej kolekcji.</p>
    </div>

    <div class="section">
      <h2 class="section-title">Dodawanie Autorów</h2>
      <p class="section-content">Dodaj nowych autorów do naszej bazy danych.</p>
    </div>

    <div class="section">
      <h2 class="section-title">Dodawanie Książek do Półek</h2>
      <p class="section-content">Przypisz książki do odpowiednich półek.</p>
    </div>
  </div>

